In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('../프로젝트csv/movie_df.csv')
movie_naver = pd.read_csv('../프로젝트csv/네이버평점웹크롤링.csv')
movie_cine21 = pd.read_csv('../프로젝트csv/씨네21평점웹크롤링.csv')

In [3]:
# 평점 컬럼명 추가
movies['네이버_평점'] = np.nan
movies['씨네21_평점'] = np.nan
movies['네이버_평점'] = movie_naver['네이버_평점']
movies['씨네21_평점'] = movie_cine21['씨네21_평점']
movies.to_csv('../프로젝트csv/movies.csv', index=False, encoding='utf-8')
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6043 entries, 0 to 6042
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   NO                    6043 non-null   int64
 1   MOVIE_NM              6043 non-null   object
 2   DRCTR_NM              5173 non-null   object
 3   MAKR_NM               2364 non-null   object
 4   INCME_CMPNY_NM        3197 non-null   object
 5   DISTB_CMPNY_NM        6043 non-null   object
 6   OPN_DE                6041 non-null   object
 7   MOVIE_TY_NM           6043 non-null   object
 8   MOVIE_STLE_NM         6043 non-null   object
 9   NLTY_NM               6043 non-null   object
 10  TOT_SCRN_CO           5638 non-null   object
 11  SALES_PRICE           2053 non-null   object
 12  VIEWNG_NMPR_CO        4188 non-null   object
 13  SEOUL_SALES_PRICE     2612 non-null   object
 14  SEOUL_VIEWNG_NMPR_CO  4548 non-null   object
 15  GENRE_NM              6029 non-null   object
 16  GRAD_NM               6043 non-null   object
 17  MOVIE_SDIV_NM         6043 non-null   object
 18  네이버_평점                5479 non-null   float64
 19  씨네21_평점               4731 non-null   float64
dtypes: float64(2), int64(1), object(17)
memory usage: 944.3+ KB